NET "clk" LOC = "AJ15";           # Reloj del Sistema
NET "salida_serie" LOC = "AE7";   #Datos puerto serie RS232_TX_DATA
#NET "enable"  LOC="AD11" ;       #Switch 1
NET "reset" loc="AG5";            #Botón enter el del centro
NET "entrada_serie" LOC = "AJ8";  #Datos entrada puerto serie RS232_RX_DATA
